<h1>{{title}}</h1>

<pre>{{playlist | json}}</pre>

<form>
  <div class="form-group">
    <label for="nameInput">Playlist name</label>
    <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" placeholder="Enter name"
           name="nameInp"
    [(ngModel)]="playlist.name">
  </div>
  <div class="form-group">
    <label for="descriptionInput">Playlist description</label>
    <input type="text" class="form-control" id="descriptionInput" placeholder="Description"
           name="descInp"
           [(ngModel)]="playlist.description">
  </div>
  <div class="form-group">
    <label for="colorInput">Playlist color</label>
    <input type="color"  id="colorInput" name="colorInp"
           [(ngModel)]="playlist.color">
  </div>
  <div class="form-group">
    <label for="favoriteCbx">Favorite {{playlist.favorite? 'Yes':'No'}}</label>
    <input type="checkbox" id="favoriteCbx" name="favoriteCb"
           [(ngModel)]="playlist.favorite"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
