<h1>{{'Playlist ' + playlist.name + (playlist.favourite ? ' (Fav)' : '' )}}</h1>
<h4>{{playlist.description}}</h4>
<pre>{{playlist | json}}</pre>
<ngForm>
  <div class="form-group">
    <label for="nameInput">Playlist name</label>
    <input
      type="text"
      class="form-control"
      id="nameInput"
      placeholder="Enter name"
      [(ngModel)]="playlist.name"
      name="name"
    >
    <small id="nameHelp" class="form-text text-muted">You typed {{playlist.name}}</small>
  </div>
  <div class="form-group">
    <label for="descriptionInput">Playlist description</label>
    <input
      type="text"
      class="form-control"
      id="descriptionInput"
      placeholder="Description"
      [(ngModel)]="playlist.description"
      name="description"
    >
  </div>
  <div class="form-group">
    <label for="colorInput">Playlist color</label>
    <input
      type="color"
      id="colorInput"
      [(ngModel)]="playlist.color"
      name="color"
    >
  </div>
  <div class="form-group">
    <label for="favouriteInput">Favourite playlist</label>
    <input
      type="checkbox"
      id="favouriteInput"
      [(ngModel)]="playlist.favourite"
      [checked]="playlist.favourite"
      name="favourite"
    >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</ngForm>
