<div class="container">
  <div class="row">
    <div class="col-sm">
      <bart-list-playlist
          [listPlaylists]="listPlaylists">
          (selectedChanged) = "selected = $event"
      ></bart-list-playlist>
    </div>
    <div class="col-sm">
      <bart-detail-playlist
              *ngIf="selected"
              [playlist]="selected"
            ></bart-detail-playlist>
      <div class="alert alert-primary" role="alert" *ngIf="!selected">
        Proszę wybrać playlistę z listy
      </div>
    </div>
  </div>
</div>
