<div *ngIf="myPlaylist != null">
<div [ngSwitch]="isEditMode">
  <div *ngSwitchDefault>
    <h2>{{title}}</h2>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" [style.border-color]="myPlaylist.color">{{myPlaylist.name}}</h4>
        <p class="card-text">
          {{myPlaylist.description}}
          <br/>
          Ulubiona: {{myPlaylist.favorite ? 'tak' : 'nie'}}
          <br/>
        </p>
        <a (click)="isEditMode = true" href="#" class="btn btn-primary">Edycja</a>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="true">
    <form>
      <div class="form-group">
        <label for="myPlaylistName">Nazwa listy</label>
        <input
          type="text"
          class="form-control"
          id="myPlaylistName"
          aria-describedby="myPlaylistNameHelp"
          placeholder="Wpisz nazwe listy"
          [style.color]="myPlaylist.color"
          [(ngModel)]="myPlaylist.name"
          name="myPlaylistName"
        >
        <small id="emailHelp" class="form-text text-muted">Nazwa listy jest niezbędna!</small>
      </div>
      <div class="form-group">
        <label for="myPlaylistDesc">Opis</label>
        <input
          type="text"
          class="form-control"
          id="myPlaylistDesc"
          placeholder="Opis"
          [(ngModel)]="myPlaylist.description"
          name="myPlaylistDesc"
        >
      </div>
      <div class="form-group">
        <label for="colorInput">Kolor wpisu</label>
        <input
          type="color"
          id="colorInput"
          [(ngModel)]="myPlaylist.color"
          name="colorInput"
        >
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              id="favList"
              [(ngModel)]="myPlaylist.favorite"
              name="favList"
            >
            Ulubiona
          </label>
        </div>

      </div>
      <a (click)="isEditMode = false" href="#" class="btn btn-primary">Zapisz</a>
      <div>Test: '{{myPlaylist | json}}'</div>
    </form>
  </div>
</div>
</div>
