<form
  class="form-inline"
  (submit)="doSearch()"
  [formGroup] = "searchForm"
>

  <div class="form-group mx-sm-3">
    <label for="inputAlbum" class="sr-only"></label>
    <input
      type="text"
      class="form-control"
      id="inputAlbum"
      placeholder="album"
      formControlName = "keyword"

    >
  </div>
  <button
    type="submit"
    class="btn btn-primary"
  >Szukaj</button>
  <div *ngIf="searchForm.get('keyword').touched || searchForm.get('keyword').dirty"
  >
    <div *ngIf="searchForm.get('keyword').hasError('required')"   class="alert alert-danger">Field is required</div>
    <div *ngIf="searchForm.get('keyword').hasError('minlength')"   class="alert alert-danger">value too short </div>
  </div>
</form>
