<div class="container">
  <div class="row">
    <div class="col-sm">
      <butelka-list-playlists
        [listPlaylists]="listPlaylists"
        (selectedChange)="selected = $event"
      ></butelka-list-playlists>
    </div>
    {{selected | json}}
    <div class="col-sm">
      <butelka-detail-playlist
        *ngIf="selected"
        [playlist]="selected"
      ></butelka-detail-playlist>
      <div class="alert alert-primary" role="alert" *ngIf="!selected">
        Proszę wybrać playlistę z listy
      </div>
    </div>
  </div>
</div>

