<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/playlists">Playlisty</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/search">Szukaj</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!--<div class="container">
  <div class="row">
    <div class="col-sm">
      <lekarz-list-playlists
        [listPlaylists]="listPlaylists"
        (selectedChanged)="selected = $event"
      ></lekarz-list-playlists>
    </div>
    <div class="col-sm">
      <lekarz-detail-playlist
        *ngIf="selected"
        [playlist]="selected"
      ></lekarz-detail-playlist>
      <div class="alert alert-primary" role="alert" *ngIf="!selected">
        Proszę wybrać playlistę z listy
      </div>
    </div>
  </div>
  <lekarz-search-panel-wrapper></lekarz-search-panel-wrapper>

</div>
-->

