<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <!--<div class="row">-->
  <!--<div class="col-sm">-->
  <!--<kuku-list-playlists-->
  <!--[listPlaylists]="playlists"-->
  <!--(onCurrentPlaylistChange)="currentPlaylist = $event"-->
  <!--class="bordered"-->
  <!--&gt;-->
  <!--</kuku-list-playlists>-->

  <!--</div>-->
  <!--<div class="col-sm">-->
  <!--<kuku-detail-playlists *ngIf="currentPlaylist" [myPlaylist]="currentPlaylist"></kuku-detail-playlists>-->
  <!--</div>-->
  <!--<div class="alert" role="alert" *ngIf="!currentPlaylist">-->
  <!--Proszę wybrać playlistę z listy-->
  <!--</div>-->
  <!--</div>-->
  <kuku-search-panel></kuku-search-panel>
</div>
