<h1>{{title + (isReadOnly()?' (read only)':'')}}</h1>
<form>
  <div class="form-group">
    <label for="nameInput">Playlist name</label>
    <input
      name="name"
      type="text"
      class="form-control"
      id="nameInput"
      placeholder="Name"
      [ngModel]="playlist.name"
      (ngModelChange)="playlist.name = $event"
      [style.color]="playlist.color"
    >
  </div>
  <div class="form-group">
    <label for="descriptionInput">Playlist description</label>
    <input
      name="description"
      type="text"
      class="form-control"
      id="descriptionInput"
      placeholder="Description"
      [ngModel]="playlist.description"
      (ngModelChange)="playlist.description = $event"
    >
  </div>
  <div class="form-group">
    <label for="colorInput">Playlist color</label>
    <input
      name="color"
      type="color"
      id="colorInput"
      [ngModel]="playlist.color"
      (ngModelChange)="playlist.color = $event"
    >
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input
        name="favorite"
        type="checkbox"
        class="form-check-input"
        [ngModel]="playlist.favorite"
        (ngModelChange)="playlist.favorite = $event"
      >
      Is favorite
    </label>
  </div>
  <small class="form-text text-muted">{{playlist.name}}</small>
  <small class="form-text text-muted">{{playlist.description}}</small>
  <small class="form-text text-muted">{{playlist.color}}</small>
  <small class="form-text text-muted">{{(playlist.favorite?'Favorite':'')}}</small>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
