<h1>{{title + (isReadOnly()?' (read only)':'')}}</h1>
<form>
  <div class="form-group">
    <label for="nameInput">Playlist name</label>
    <input
      type="text"
      class="form-control"
      id="nameInput"
      placeholder="Name"
      [value]="playlist.name"
      [style.color]="playlist.color"
      (keyup)="playlist.name = $event.target.value"
    >
 </div>
  <div class="form-group">
    <label for="descriptionInput">Playlist description</label>
    <input
      type="text"
      class="form-control"
      id="descriptionInput"
      placeholder="Description"
      [value]="playlist.description"
      (keyup)="playlist.description = $event.target.value"
    >
  </div>
  <div class="form-group">
    <label for="colorInput">Playlist color</label>
    <input
      type="color"
      id="colorInput"
      [value]="playlist.color"
      (change)="playlist.color = $event.target.value"
    >
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        [checked]="playlist.favorite"
        (change)="playlist.favorite = $event.target.checked"
      >
      Is favorite
    </label>
  </div>
  <small class="form-text text-muted">{{playlist.name}}</small>
  <small class="form-text text-muted">{{playlist.description}}</small>
  <small class="form-text text-muted">{{playlist.color}}</small>
  <small class="form-text text-muted">{{(playlist.favorite?'Favorite':'')}}</small>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
