<div class="card">
  <div class="card-body">
    <h4 class="card-title">Wyszukiwarka</h4>
    <div class="card-text">
      <form (submit)="searchSpotify()" [formGroup]="searchForm">
        <div class="input-group input-group-lg">
          <input
            placeholder="Wpisz nazwę albumu"
            class="form-control"
            type="text"
            id="searchField"
            formControlName="query"
            name="searchField"
            #ref
          >
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Szukaj</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
