<div class="card">
  <div class="card-body">
    <h4 class="card-title">Wyszukiwarka</h4>
    <div class="card-text">
      <form>
        <div class="input-group input-group-lg">
          <input
            placeholder="Wpisz nazwę albumu"
            [(ngModel)]="searchText"
            class="form-control"
            type="text"
            id="searchField"
            name="searchField"
          >
          <span class="input-group-btn">
            <a href="#" class="btn btn-primary" (click)="searchSpotify()">Szukaj</a>
          </span>
        </div>
      </form>
    </div>
  </div>
