<form class="form"
      [formGroup]="searchForm"
      (submit)="search()"
>
  <div class="row">
    <!--<div class="col-10">-->
    <input
      type="text"
      class="form-control"
      id="searchInput"
      placeholder="Enter album name"
      formControlName="query"
    >
    <!--</div>-->
    <!--<button type="submit" class="btn btn-submit">Szukaj</button>-->

  </div>
  <div class="row" *ngIf="searchForm.get('query').touched || searchForm.get('query').dirty">
    <div class="alert alert-warning" *ngIf="searchForm.get('query').hasError('required')">Field is required</div>
    <div class="alert alert-danger" *ngIf="searchForm.get('query').hasError('minlength')">value too short</div>
    <div class="alert alert-danger" *ngIf="searchForm.get('query').hasError('badword')">Wrong value</div>
  </div>
</form>



