<div class="container">
  <a routerLink="/search" class="btn btn-primary">Szukaj</a>
  <a routerLink="/playlists" class="btn btn-primary">Playlisty</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <kuku-list-playlists
        [listPlaylists]="playlists"
        class="bordered"
      >
      </kuku-list-playlists>

    </div>
    <div class="col-sm-3 alert alert-info" style="height: 60px;" role="alert" *ngIf="!hasParam">
      <p class="text-center">Proszę wybrać playlistę z listy</p>
    </div>
    <div class="col-sm-7">
      <router-outlet (activate)="onAcvtivate($event)"></router-outlet>
    </div>
  </div>
</div>
