<div class="container">
  <a routerLink="/search" class="btn btn-primary">Szukaj</a>
  <a routerLink="/playlists" class="btn btn-primary">Playlisty</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <kuku-list-playlists
        [listPlaylists]="playlists"
        (onCurrentPlaylistChange)="currentPlaylist = $event"
        class="bordered"
      >
      </kuku-list-playlists>

    </div>
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
    <div class="alert" role="alert" *ngIf="!currentPlaylist">
      Proszę wybrać playlistę z listy
    </div>
  </div>
</div>
