<form [formGroup]="searchForm" (submit)="doSearch()">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Search for..."
               aria-label="Search for..."
               formControlName="word">
        <span class="input-group-btn">
        <button
          class="btn btn-secondary"
          type="button"
          >Go!</button>
      </span>
      </div>
    </div>
    <div *ngIf="searchForm.get('word').touched || searchForm.get('word').dirty"
    >
      <div *ngIf="searchForm.get('word').hasError('required')" class="alert alert-danger">Field is required</div>
      <div *ngIf="searchForm.get('word').hasError('minlength')" class="alert alert-warning">value too short </div>
      <div *ngIf="searchForm.get('word').hasError('badword')" class="alert alert-warning">Niedozwolone</div>
      <div *ngIf="searchForm.get('word').hasError('badwordasync')" class="alert alert-danger">Zabronine babacia</div>
    </div>
  </div>
</form>
