<div class="container">
  <a routerLink="/search" class="btn btn-primary">Search</a>
  <a routerLink="/playlists" class="btn btn-primary">Playlists</a>
</div>
<div class="container">
<div class="row">
  <div class="col-sm">
    <lekarz-list-playlists
      [listPlaylists]="listPlaylists"
      (selectedChanged)="selected = $event"
    ></lekarz-list-playlists>
  </div>
  <div class="col-sm">
    <lekarz-detail-playlist
      *ngIf="selected"
      [playlist]="selected"
    ></lekarz-detail-playlist>
    <div class="alert alert-primary" role="alert" *ngIf="!selected">
      Proszę wybrać playlistę z listy
    </div>
  </div>
</div>
</div>
